# Compiled
*.elc
.yas-compiled-snippets.el

# Packaging
.cask

# Internal
elpa
.cache
projectile-bookmarks.eld
auto-save-list
custom.el

# Straight
/var
/straight/*
!/straight/versions/
!/straight/versions/*
