# Compiled
*.elc
.yas-compiled-snippets.el

# Packaging
.cask

# Internal
elpa
.cache
auto-save-list
/projectile-bookmarks.eld
/magithub
/custom.el
/history
smex-items

# Straight
/var
/straight/*
!/straight/versions/
!/straight/versions/*
