# Compiled
*.elc
.yas-compiled-snippets.el
eln-cache/

# Packaging
.cask

# Internal
elpa
.cache
projectile-bookmarks.eld
auto-save-list
custom.el
eshell/
url/
request/

# Straight
/var
/straight/*
!/straight/versions/
!/straight/versions/*

# Generated
opam-user-setup.el

# Session stuff
session.*

# Org
org-roam.db
